/* You can add global styles to this file, and also import other style files */

//$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap";
//$fa-font-path : "~font-awesome/fonts";

//@import "~bootstrap/scss/bootstrap";
//@import "~font-awesome/scss/font-awesome";
@import "~ngx-toastr/toastr.css";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

body {
    /* min-height: 75rem; */
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x:hidden;
}

.navbar {
    margin-bottom: 0;
}

.jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-bottom: 0;
    background-color: #fff;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.jumbotron{

}

.jumbotron::before{

    background-color: #FAFBFD;
}

input[type = "file"]:hover{
    box-shadow: 0 0 0 4px #68CFDA;
}

input[type = "file"]:focus{
    box-shadow: 0 0 0 4px #1CB4C2;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #FAFBFD;
    border-top: #FFF;
    border-bottom: #FFF;
}



#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 36px;
    height: 20px;
    display: block;
    text-decoration: none;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top > svg path {
    fill: #1CB4C2;
}

#return-to-top > svg path:hover{
    fill: #68CFDA;
}

